.admin-btn {
    width: 100px;
}

.btnStep {
    width: 100px;
    margin-right: 20px;
}

.btn-row {
    padding: 0 0 60px 23px;
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.ant-steps-label-horizontal {
    padding: 10px 100px;
}

.ant-row.row-info-prouct {
    display: flex;
    justify-content: center;
}

.editable-row:hover .editable-cell-value-wrap {
    padding: 4px 11px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
}

.quill.editor {
    color: #000;
}

.table-row-light {
    background-color: #f2f2f2;
}
.table-row-dark {
    background-color: #fff;
}

.col-numb-table {
    text-align: center;
}

[data-theme='dark'] .editable-row:hover .editable-cell-value-wrap {
    border: 1px solid #434343;
}
.table-image .ant-table {
    line-height: 0.5715;
    min-height: 225px;
    box-shadow: 0 2px 4px #b8b5b5;
    padding: 8px;
    border-radius: 3px;
}
.table-products .ant-table {
    min-height: 100vh;
}

.ant-table.ant-table-fixed-header {
    min-height: 100vh;
}

.app-admin .wrap-content-admin {
    position: relative;
}

.heading-product-type {
    padding-top: 20px;
    text-align: center;
}

.heading-product-type h1 {
    color: var(--text-color);
}

.table-form {
    padding-right: 20px;
}

.table {
    width: 100%;
    margin: 10px auto;
}
.table-products {
    border-radius: 0;
    box-shadow: none;
    padding: 0 10px;
    min-height: 100vh;
}
.btnDel span {
    color: #ff4d4f;
}
.btn-upload {
    width: 225px;
    height: 40px;
    font-size: 20px;
    color: var(--text-color);
}

.btn-upload span {
    color: var(--text-color);
    line-height: 25px;
    font-size: 15px;
    position: relative;
    top: -3px;
    padding-left: 5px;
}
.btn-upload path {
    color: var(--text-color);
}

.ant-image {
    width: 100px !important;
}

.ant-image-preview-img {
    height: 500px;
    object-fit: contain;
    margin: auto;
    vertical-align: middle;
    display: initial;
}

.form {
    width: 90%;
    margin: 20px auto;
}

.input-label {
    width: 100%;
    display: inline-block;
    text-align: initial;
    color: var(--text-color);
    font-size: 14px;
}

.input-label.description {
    line-height: 32px;
}
.ql-toolbar.ql-snow {
    margin: 0 22px;
}
.ql-container.ql-snow {
    margin: 0 22px;
    color: #000;
    height: 150px;
}
.ql-toolbar.ql-snow:nth-child(1) {
    margin-top: 10px;
}

.input-label.input-label-image {
    margin-top: 18px;
}
.form .form-input {
    width: 100%;
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    line-height: 20px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    text-align: initial;
}

.heading-description,
.heading-image {
    display: flex;
}

.form-input.select {
    box-sizing: content-box;
    margin-right: 10px;
    width: 200px;
    border: #434343;
}
.ant-select-item.ant-select-item-option {
    transition: none;
}
.ant-select-item.ant-select-item-option:hover {
    background-color: #6da0e2;
    color: white;
}

.select-wapper {
    display: flex;
    margin-left: 20px;
}

.select-wapper .btnClear {
    font-weight: 700;
}

.ant-radio-group {
    margin: 5px 0 8px 0;
}
.ant-radio-wrapper span {
    color: var(--text-color);
}

.ant-select-selection-search-input {
    color: var(--text-color);
}

.radio-group {
    line-height: 30px;
}

#loading {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
}

#loading-icon {
    position: absolute;
    top: 50%;
    left: 40%;
    z-index: 100;
    color: rgb(80, 107, 197);
    font-size: 50px;

    /* width: 100px;
    height: 100px; */
}

#toolbar-container .ql-font span[data-label='Monospace']::before {
    font-family: monospace;
}

#toolbar-container .ql-font span[data-label='Serif']::before {
    font-family: serif;
}

#toolbar-container .ql-font span[data-label='Sans-serif']::before {
    font-family: sans-serif;
}
/* Set content font-families */

.ql-font-monospace {
    font-family: monospace;
}
.ql-font-serif {
    font-family: serif;
}
.ql-font-sans-serif {
    font-family: sans-serif;
}
