@import 'antd/dist/reset.css';
/* @import 'antd/dist/antd.css'; */
.app-client * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Tahoma, Arial, sans-serif;
    color: #fff;
}

.body-client {
    display: flex;
}

ul {
    list-style: none;
}

.App {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Tahoma, Arial, sans-serif;
    color: #fff;
    background-color: #000;

    min-height: 100vh;
}

html {
    background-color: #000;
}
.backtop {
    inset-inline-end: 50px !important;
    inset-block-end: 40px !important;
}
.ant-back-top-content {
    width: 50px !important;
    height: 50px !important;
}
.ant-back-top-icon {
    background-color: rgba(251, 194, 24, 1);
    line-height: 50px !important;
}
.header {
    position: relative;
    height: 82px;
    padding-top: 7px;
    /* width: 100vw; */
    width: 100%; /* nếu coder chọn vw thật ra ko lỗi chỉ sai mặt logic (mất 1 khoảng trống cho thanh scrollbar-thumb thì nó sẽ bồi thường lại) */
}

.languageToggle {
    display: flex;
    justify-content: end;
}

.language-btn {
    cursor: pointer;
    margin-right: 15px;
    font-size: 12px;
}

.btnLang {
    cursor: pointer;
    margin-right: 15px;
}

.navbar {
    background-color: #313131;
    height: 59px;
    width: 100%;
    border-bottom: 1px solid #666;
    border-top: 1px solid #666;
}

.navbar-list {
    display: flex;
    list-style: none;
    align-items: center;
    height: 100%;
    margin-left: 12vw;
}

.navbar-list a {
    text-decoration: none;
}

.navbar-list-item {
    padding: 0 3vw;
    font-size: 13px;
    cursor: pointer;
    text-transform: uppercase;
}

.navbar-list-item:hover {
    text-decoration: underline;
}

.chrono-logo {
    /* top: 0;
    left: 154px; */
    margin-top: -22px;
    width: var(--sidebar-width);
}

.chrono-logo-img {
    width: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: var(--sidebar-width);
    min-width: var(--sidebar-width);
    background-color: #313131;
    margin-left: 12vw;
    border: 1px solid #666;
    height: auto;
}

.search {
    justify-content: center;
}

.search-label {
    line-height: 21px;
    font-size: 13px;
    margin-left: 40px;
}

.input-form {
    display: flex;
    width: 170px;
    height: 21;
    line-height: 1;
    margin-left: auto;
    margin-right: auto;
}

.search-input {
    width: 117px;
    color: #000;
    padding: 2px;
}

.search-btn {
    height: 26px;
    width: 50px;
    margin-left: 3px;
    background-color: #ff7f00;
    align-items: center;
    cursor: pointer;
}

.search-btn span {
    line-height: 100%;
    font-size: 13px;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 6px;
}
.produts {
    background-color: #313131;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 10px;
    min-height: 296px;
}
.main-level {
    width: 170px;
}

.main-level-heading {
    background-color: #000;
    padding-left: 8px;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    line-height: 26px;
    margin-bottom: 4px;
    margin-top: 4px;
}

.sub-level {
    background-color: transparent;
    padding-left: 14px;
    font-size: 13px;
    animation: growDown 0.2s ease forwards;
    transform-origin: top center;
    /* display: none; */
}

.sub-level-heading {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    line-height: 24px;
    font-size: 13px;
    padding-left: 12px;
}

.sub-level-2 {
    background-color: #313131;
    padding-left: 14px;
    font-size: 13px;
    animation: growDown 0.2s ease forwards;
    transform-origin: top center;
    /* display: none; */
}

.sub-level-2-heading {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    line-height: 24px;
}

.active.main-level-heading {
    color: rgba(251, 194, 24, 1);
}

.active.sub-level-heading,
.active.sub-level-2-heading {
    color: rgba(251, 194, 24, 1);
    font-weight: bold;
}

.main-level-heading:hover,
.sub-level-heading:hover,
.sub-level-2-heading:hover {
    color: rgba(251, 194, 24, 1);
    transition: 0.1s linear;
}

.hrSidebar {
    border: 0.5px solid #464648;
    width: 156px;
    margin-left: 38px;
}

.online {
    font-size: 13px;
    margin-top: 26px;
}

.online div {
    text-align: center;
}
.counter-online {
    line-height: 26px;
}

.counter-visitor {
    margin-top: 6px;
}

.whoonline,
.counter-heading {
    color: #fff;
    font-size: 100%;
    line-height: normal;
    font-weight: 700;
}

.chrono24-logo {
    margin-left: 26px;
}

.chrono24-logo img {
    filter: brightness(1.5);
}

#appView .hitCounter .counterTable .counterRow .powrMark {
    display: none;
}

.body {
    display: flex;
}

.right-content {
    margin-left: 50px;
}

.default-content {
    margin: 27px 0 20px 0;
    max-width: 60%;
    width: 60vw;
}

.default-content .row-1,
.default-content .row-2 {
    display: flex;
    align-items: flex-end;
}

.wrap-img-home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12vw;
    width: 299px;
}

.img-home {
    width: 100%;
}

/* ==== PRODUCTS BRAND ===== */
.heading {
    display: flex;
}

.notice {
    font-size: 16px;
    margin: 40px 10px 0px 0px;
}

.row-pros {
    min-height: fit-content;
    max-width: 60vw;
    position: relative;
}

.hrPros {
    width: 85%;
    position: absolute;
    left: 7px;
    bottom: -32px;
    border-bottom: 1px solid #4c4c4d;
}

.hrPros:nth-last-child() {
    display: none;
}

.gutter-row {
    height: 265px;
}

.heading-label {
    min-width: 60px;
    height: 22px;
    background-color: rgba(251, 194, 24, 1);
    padding: 0 10px;
    margin: 40px 10px 0 0px;
    color: #000;
    font-size: 12px;
}

.heading-label label {
    text-align: center;
    line-height: 22px;
    width: 100%;
    display: inline-block;
    color: #000;
    font-weight: bold;
}

.card-wrap-brand {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.card-image {
    width: 160px;
    height: 160px;
    background-size: cover;
    position: relative;
    margin: auto;
}
.overlay {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 160px;
    height: 160px;
    background-color: #fff;
}

/* .card-image:hover .card-image-img {
    opacity: 0.5;
} */

.card-image:hover .overlay {
    opacity: 0.8;
}

.overlay-text {
    color: #000;
    background-color: #ffbc00;
    font-size: 16px;
    padding: 16px 32px;
    margin: 0 auto;
    font-weight: 700;
    width: 160px;
}

.card-image-img {
    width: 160px;
    height: 160px;
    opacity: 1;
    display: block;
    margin: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.card-image-border {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-name {
    float: left;
    line-height: 18px;
    height: 53px;
    width: 160px;
    font-weight: normal;
    font-size: 12px;
    color: #fff;
}

.card-price {
    font-size: 13px;
    color: rgba(251, 194, 24, 1);
    font-weight: bold;
    line-height: 1.6;
}

.card-more-detail {
    font-size: 13px;
    color: rgb(255, 96, 3);
    font-weight: bold;
    line-height: 1.6;
}

/* ==== PRODUCTS CATEGORY ===== */
.ant-col.ant-col-5.gutter-row {
    max-width: 100%;
}
.list-product {
    margin-bottom: 10px;
    /* border-bottom: 1px solid rgb(243, 241, 241); */
}

.hrPros-cate {
    border-bottom: 1px solid #4c4c4d;
}

.card-wrap-category {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding-bottom: 20px;
    margin-left: 8px;
    /* border-bottom: 1px solid #ccc; */
}

.card-info-category {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-left: 14px;
}

.card-code-category {
    float: left;
    margin-bottom: 5px;
    font-weight: 900;
    font-size: 13px;
    color: rgba(251, 194, 24, 1);
}

.card-name-category {
    float: left;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 13px;
    color: rgba(251, 194, 24, 1);
}

.card-description-category {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 0;
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    line-clamp: 4;
    -webkit-box-orient: vertical;
}

.card-price-category {
    font-size: 13px;
    color: rgba(251, 194, 24, 1);
    font-weight: bold;
    line-height: 1.6;
}

.card-more-detail-category {
    font-size: 13px;
    color: rgb(255, 127, 0);
    font-weight: 500;
    line-height: 1.6;
}

/* ==== PRODUCTS DETAIL ===== */

.card-wrap-detail {
    margin-top: 36px;
    display: flex;
}
.card-image-detail {
    position: relative;
    width: 206px;
    height: auto;
    transition: fadeIn 0.2s;
    padding: 6px;
}

.card-image-magnify {
    /* width: 200px !important;
    height: 200px !important; */
    margin: auto;
}
.card-image-magnify-large {
    background-color: #000;
}
.card-image-magnify-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sub-images-list {
    flex-wrap: wrap;
    display: flex;
    width: 200px;
    margin-top: 4px;
}

.sub-images-item {
    width: 64px;
    height: 64px;
    margin-right: 2px;
    margin-top: 2px;
    position: relative;
}

.sub-images-item img {
    width: 64px;
    height: 64px;
    cursor: pointer;
}

.card-wrap-info {
    display: flex;
    flex-direction: column;
    margin-left: 14px;
    width: 400px;
}
.card-code-detail {
    float: left;
    line-height: 13px;
    font-size: 13px;
    color: #fff;
}

.card-price-detail {
    font-size: 13px;
    color: rgba(251, 194, 24, 1);
    font-weight: bold;
    line-height: 1.6;
}

.card-name-detail {
    float: left;
    line-height: 13px;
    font-weight: 700;
    font-size: 13px;
    color: rgba(251, 194, 24, 1);
    margin-top: 32px;
}

.card-description-detail {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 0;
    white-space: pre-line;
}

.video-frame {
    margin-top: 20px;
}

.hitCounter .counterElement {
    display: none;
}

.imglist {
    display: flex;
    flex-direction: column;
}

/* POSTS */

.post-wrapper {
    width: 60vw;
}

.post-desciption {
    text-align: justify;
    font-size: 14px;
    max-width: 60vw;
    margin: 20px 76px 20px 0;
    text-indent: 42px;
    line-height: 1.6;
}
